.btn-group, .input-group {
    span{
        &:first-child:not(:last-child) {
            .btn.dropdown-toggle{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        &:last-child:not(:first-child) {
            .btn.dropdown-toggle{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &:not(:last-child):not(:first-child) {
            .btn.dropdown-toggle{
                border-radius: 0;
            }
        }
    }
}

.btn{
  &[class*="btn-"]{
    margin-bottom: 1rem;
  }
}
.btn-list {
	margin-bottom: -1rem;
}
.btn-group-vertical{
  .btn{
    &[class*="btn-"]{
      margin-bottom: 0;
    }
  }
}
.input-group{
  .btn{
    &[class*="btn-"]{
      margin-bottom: 0;
    }
  }
  margin-bottom: 1rem;
}
// Custom round buttons
.btn-round{
  border-radius: $border-radius-extreme;
}

.btn:active, .btn.active{
	background-image: initial;
}
button:hover{
  cursor: pointer;
}

.btn-group>.btn.active{
  z-index: 0;
}
