.dropdown-menu{
    display: none;
    opacity: inherit;
    .active{
        a{
            background-color: theme-color("primary");
            &:focus,&:hover{
                background-color: theme-color("primary");
            }
        }
    }
    &.show {
        transform: none;
        opacity: 1;
    }
}
.form-control{
    &.open{
        ~.dropdown-menu{
            transform: none;
            opacity: 1;
        }
    }
}
