.list-group-item{
    &:hover{
        z-index: 0;
    }
    &.active,
    &.active:focus,
    &.active:hover{
        background-color: theme-color("primary");
        border-color: theme-color("primary");
    }
}
