// ================================================================================================
// 	File Name: helper.scss
// 	Description: Helper classes provides color, width, position & background etc..
// ================================================================================================

// Content helpers
// -------------------------

// Lists
.bullets-inside{
	list-style: inside;
}
.list-style-circle{
	list-style: circle;
}
.list-style-square{
	list-style: square;
}
.list-style-icons {
    padding-left: 10px;
    margin-left: 0;
    list-style: none;
    >li i {
        float: left;
        width: 1em;
        margin: 5px 12px 0 0;
    }
}

// Spinner classes
.spinner {
    display: inline-block;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner-reverse {
    display: inline-block;
    animation: spin-reverse 1s linear infinite;
}
@keyframes spin-reverse {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

//
// Image
//

// Extra large
.img-xl {
    width: 64px !important;
    height: 64px !important;
}

// Large
.img-lg {
    width: 44px !important;
    height: 44px !important;
}

// Small
.img-sm {
    width: 36px !important;
    height: 36px !important;
}

// Mini
.img-xs {
    width: 32px !important;
    height: 32px !important;
}
