// colors

@mixin set-anchor-color($color) {
    .navigation {
        li {
            a {
                color: $color;
            }
        }
    }
}

@mixin set-logo-text-color($color) {
    .logo-text {
        color: $color;
    }
    .aside-header a.nav-toggle {
        color: $color;
    }
}
