/*--------------------------------------/
 Here you can pass number value (480)
 or breakpoint string (xs) according to
 $grid-breakpoints variables.
--------------------------------------*/

// Breakpoint width. Null for the largest/smallest (first) breakpoint.
//
//    >> media-breakpoint-max(sm, (wide: 0px, xl: 1280px, lg: 1024px, md: 860px, sm: 640px, xs: 480px))
//    640px
//    >> media-breakpoint-max(wide, (wide: 0px, xl: 1280px, lg: 1024px, md: 860px, sm: 640px, xs: 480px))
//    null
@function media-breakpoint($size, $breakpoints: $grid-breakpoints) {
    $media: if(type_of($size) == 'string', map-get($breakpoints, $size), #{$size}px);
    @return if($media != 0px, $media, null);
}

// Returns a blank string if largest/smallest breakpoint, otherwise returns the name with a dash infront.
// Useful for making responsive utilities.
//
//    >> media-infix(wide, (wide: 0px, xl: 1280px, lg: 1024px, md: 860px, sm: 640px, xs: 480px))
//    ""  (Returns a blank string)
//    >> media-infix(sm, (wide: 0px, xl: 1280px, lg: 1024px, md: 860px, sm: 640px, xs: 480px))
//    "-sm"
@function media-breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
    @return if(media-breakpoint($name, $breakpoints) == null, "", "-#{$name}");
}


@mixin media($size, $breakpoints: $grid-breakpoints){
    $size: media-breakpoint($size, $breakpoints);
    @if $size {
        @media screen and (max-width: $size){
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-min($size, $breakpoints: $grid-breakpoints){
    $size: media-breakpoint($size, $breakpoints);
    @if $size {
        @media (min-width: $size + 1px) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-exact($size, $breakpoints: $grid-breakpoints){
    $size: media-breakpoint($size, $breakpoints);
    @if $size {
        @media screen and (width: $size) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-range($min-size, $max-size, $breakpoints: $grid-breakpoints) {
	$min-value: media-breakpoint($min-size, $breakpoints);
	$max-value: media-breakpoint($max-size, $breakpoints);

	@if $min-value != null and $max-value != null {
		@media (max-width: $max-value) and (min-width: $min-value + 1px) {
			@content;
		}
	} @else if $max-value == null {
		@media (max-width: #{$max-size}px) and (min-width: $min-value + 1px) {
			@content;
		}
	} @else if $min-value == null {
		@media (max-width: $max-value) and (min-width: #{$min-size}px + 1px) {
			@content;
		}
	}
}

@mixin media-breakpoint($name, $breakpoints: $grid-breakpoints) {
    @if $min-width == true {
        @include media-min($name, $breakpoints) {
            @content;
        };
    } @else {
        @include media($name, $breakpoints) {
            @content;
        };
    }
}
