@import "../../../../assets/styles/globals";

.language-switcher{
    display: inline-flex;

    mat-select{
        @include media(sm){
            font-size: 22px;
        }

        .mat-select-value{
            color: #ffffff;
        }

        .mat-select-arrow{
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 11px solid;
            color: #ffffff;
        }
    }

    .mat-form-field-infix{
        border-top: none !important;
    }

    .mat-form-field-label-wrapper{
        padding-top: 0 !important;
    }

    .mat-form-field-underline{
        display: none !important;
    }

    .mat-form-field-infix{
        width: 60px !important;

        @include media(sm){
            width: 100px !important;
        }
    }

    .mat-form-field-appearance-legacy .mat-form-field-wrapper{
        padding-bottom: 0 !important;
    }
}
