@import "../../../assets/styles/globals";

.footer{
    flex: 0 0 auto;
    overflow: hidden;
    background: $primary-color;
    color: $white;
    text-align: center;

    &_contact{
        margin-bottom: 5em;
        
        @include media(xs){
            font-size: $small-font-size;
            margin-bottom: 0;
        }
    }

    &_info{
        @include media(xs){
            display: none;
        }
    }
}