<section id="collapse">
    <div class="row">
        <div class="col-6 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Basic Examples</h4>
                </div>
                <div class="card-body">
                    <div class="card-section">
                        <div class="card-section_title">
                            Single Button
                        </div>
                        <p>Wrap the dropdown’s toggle (your button or link) and the dropdown menu within <code>.dropdown</code>, or another element that declares <code>position: relative;</code>. Dropdowns can be triggered from <code>&lt;a&gt;</code> or <code>&lt;button&gt;</code> elements to better fit your potential needs.</p>
                        <p>Any single <code>.btn</code> can be turned into a dropdown toggle with some markup changes. Here’s how you can put them to work with either <code>&lt;button&gt;</code> elements:</p>
                        <div class="card-section_content -border">
                            <div class="row">
                                <div class="col">
                                    <div class="btn-list">
                                        <div ngcDropdown class="d-inline-block">
                                            <button class="btn btn-outline-primary" id="dropdownBasic1" ngcDropdownToggle>Toggle dropdown</button>
                                            <div ngcDropdownMenu aria-labelledby="dropdownBasic1">
                                                <button ngcDropdownItem>Action - 1</button>
                                                <button ngcDropdownItem>Another Action</button>
                                                <button ngcDropdownItem>Something else is here</button>
                                            </div>
                                        </div>
                                        <div ngcDropdown class="d-inline-block">
                                            <button class="btn btn-icon btn-round btn-hover" id="dropdownBasic2" ngcDropdownToggle>
                                                <i class="ft-more-horizontal-"></i>
                                            </button>
                                            <div ngcDropdownMenu aria-labelledby="dropdownBasic2">
                                                <button ngcDropdownItem>Action - 1</button>
                                                <button ngcDropdownItem>Another Action</button>
                                                <button ngcDropdownItem>Something else is here</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col text-right">
                                    <div ngcDropdown placement="top-right" class="d-inline-block">
                                        <button class="btn btn-outline-primary" id="dropdownBasic3" ngcDropdownToggle>Toggle dropup</button>
                                        <div ngcDropdownMenu aria-labelledby="dropdownBasic3">
                                            <button ngcDropdownItem>Action - 1</button>
                                            <button ngcDropdownItem>Another Action</button>
                                            <button ngcDropdownItem>Something else is here</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
