/*--------------------------------------/
 Grid
--------------------------------------*/
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    wide: 0px,
    xl: 1280px,
    lg: 1024px,
    md: 860px,
    sm: 640px,
    xs: 480px
) !default;

//@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
//@include _assert-starts-at-zero($grid-breakpoints);


// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width-base: 30px !default;
$grid-gutter-widths: gutters-map($grid-gutter-width-base) !default;

// Set row modifiers
$row_modifiers: row column start center end around between items-top items-middle items-bottom top middle bottom v-between zero-space clear;

// Custom changes min-width to max-width
$max-width: true;
@if $max-width == true{
    //$grid-breakpoints:  mapReverse($grid-breakpoints);
    //$grid-gutter-widths:  mapReverse($grid-gutter-widths);
}
