/*--------------------------------------/
 Navs
--------------------------------------*/

$nav-link-padding-y: .5rem !default;
$nav-link-padding-x: 1rem !default;
$nav-link-disabled-color: $gray-600 !default;

$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-border-width: $border-width !default;
$nav-tabs-border-radius: $border-radius !default;
$nav-tabs-link-hover-border-color: $gray-200 !default;
$nav-tabs-link-active-color: $gray-700 !default;
$nav-tabs-link-active-bg: $white !default;
$nav-tabs-link-active-border-color: $gray-300 !default;
$nav-tabs-content-padding: 1rem !default;
$nav-tabs-transition: all 0.3s;

$nav-pills-border-radius: $border-radius !default;
$nav-pills-link-active-color: $component-active-color !default;
$nav-pills-link-active-bg: $component-active-bg !default;

$nav-lines-border-color: $primary !default;
$nav-lines-link-padding-x: 1.25rem !default;
$nav-lines-link-padding-y: 1.25rem !default;
$nav-lines-link-active-color: $primary !default;

$nav-divider-color: $gray-200 !default;
$nav-divider-margin-y: $spacer / 2 !default;
