.form-actions{
    border-top: 1px solid darken($body-bg, 10%);
    padding: 20px 0;
    margin-top: 20px;

    &.filled{
        background-color: $body-bg;
    }
    &.center{
        text-align: center;
    }
    &.right{
        text-align: right;
    }

    &.top{
        border-top: 0;
        border-bottom: 1px solid darken($body-bg, 10%);
        margin-top: 0;
        margin-bottom: 20px;
    }

    @include media(sm) {
        .buttons-group{
            float: left !important;
            margin-bottom: 10px;
        }
    }
}
