@font-face {
    font-family: 'iconFont';
    src: url($fonts-path + '/iconFont/iconFont.eot?1550091472');
    src: url($fonts-path + '/iconFont/iconFont.eot?1550091472#iefix') format('embedded-opentype'),
    url($fonts-path + '/iconFont/iconFont.svg?1550091472#iconFont') format('svg'),
    url($fonts-path + '/iconFont/iconFont.woff?1550091472') format('woff'),
    url($fonts-path + '/iconFont/iconFont.woff?1550091472') format('woff2'),
    url($fonts-path + '/iconFont/iconFont.ttf?1550091472') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "iconFont" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "iconFont" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "icons";
