<!-- Subheader Starts -->
<nav class="subheader">
    <div class="subheader_main">
        <h3 *ngIf="title">{{title}}</h3>
    </div>
    <div class="subheader_toolbar">
        <div class="btn-list">
            <a href="#" class="btn btn-icon btn-info">
                <i class="ft-clipboard"></i>
            </a>
            <a href="#" class="btn btn-icon btn-info">
                <i class="ft-download"></i>
            </a>
            <a href="#" class="btn btn-icon btn-info">
                <i class="ft-plus"></i>
            </a>
        </div>
    </div>
</nav>
<!-- Subheader Ends -->
