@import "../../../assets/styles/globals";

.header{
    height: $header-height;
    background: $primary-color;
    color: $white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $primary-color;
    padding: 1em $padding-gap;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;

    @include media(lg){
        border-bottom: 4px solid $primary-color;
    }

    @include media(sm){
        position: fixed;
        z-index: 3;
        left: 20px;
        right: 20px;
        top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include media(xs){
        padding-left: 10px;
        padding-right: 10px;
    }

    &_logo{
        flex: 1;

        @include ie-hack {
            flex: 1 1 auto;
        }

        img{
            max-height: 67px;

            @include media(xs){
                max-height: 55px;
            }
        }
    }

    &_title{
        text-align: center;

        @include media(md){
            display: none;
        }
    }
}

.header-controls{
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;

    @include ie-hack {
        flex: 1 1 auto;
    }

    button{
        font-size: $base-font-size;
    }

    li{
        white-space: nowrap;
        margin-left: 10px;

        &:before{
            content: '|';
            margin-right: 10px;
        }

        &:first-child:before{
            display: none;
        }
    }
}
