@font-face {
	font-family: 'feather';
	src: url('feather.eot?1550795590');
	src: url('feather.eot?1550795590#iefix') format('embedded-opentype'),
		 url('feather.svg?1550795590#feather') format('svg'),
		 url('feather.woff?1550795590') format('woff'),
		 url('feather.woff?1550795590') format('woff2'),
		 url('feather.ttf?1550795590') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="ft-"],
[class*=" ft-"] {
	display: inline-block;
	font-size: inherit;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

[class^="ft-"]:before,
[class*=" ft-"]:before {
	font-family: "feather" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*----icon classes-----*/

.ft-alert-circle:before { content: "\E81C"; }
.ft-activity:before { content: "\E81D"; }
.ft-alert-triangle:before { content: "\E81E"; }
.ft-align-center:before { content: "\E81F"; }
.ft-airplay:before { content: "\E820"; }
.ft-align-justify:before { content: "\E821"; }
.ft-align-left:before { content: "\E822"; }
.ft-align-right:before { content: "\E823"; }
.ft-arrow-down-left:before { content: "\E824"; }
.ft-arrow-down-right:before { content: "\E825"; }
.ft-anchor:before { content: "\E826"; }
.ft-aperture:before { content: "\E827"; }
.ft-arrow-left:before { content: "\E828"; }
.ft-arrow-right:before { content: "\E829"; }
.ft-arrow-down:before { content: "\E82A"; }
.ft-arrow-up-left:before { content: "\E82B"; }
.ft-arrow-up-right:before { content: "\E82C"; }
.ft-arrow-up:before { content: "\E82D"; }
.ft-award:before { content: "\E82E"; }
.ft-bar-chart:before { content: "\E82F"; }
.ft-at-sign:before { content: "\E830"; }
.ft-bar-chart-:before { content: "\E831"; }
.ft-battery-charging:before { content: "\E832"; }
.ft-bell-off:before { content: "\E833"; }
.ft-battery:before { content: "\E834"; }
.ft-bluetooth:before { content: "\E835"; }
.ft-bell:before { content: "\E836"; }
.ft-book:before { content: "\E837"; }
.ft-briefcase:before { content: "\E838"; }
.ft-camera-off:before { content: "\E839"; }
.ft-calendar:before { content: "\E83A"; }
.ft-bookmark:before { content: "\E83B"; }
.ft-box:before { content: "\E83C"; }
.ft-camera:before { content: "\E83D"; }
.ft-check-circle:before { content: "\E83E"; }
.ft-check:before { content: "\E83F"; }
.ft-check-square:before { content: "\E840"; }
.ft-cast:before { content: "\E841"; }
.ft-chevron-down:before { content: "\E842"; }
.ft-chevron-left:before { content: "\E843"; }
.ft-chevron-right:before { content: "\E844"; }
.ft-chevron-up:before { content: "\E845"; }
.ft-chevrons-down:before { content: "\E846"; }
.ft-chevrons-right:before { content: "\E847"; }
.ft-chevrons-up:before { content: "\E848"; }
.ft-chevrons-left:before { content: "\E849"; }
.ft-circle:before { content: "\E84A"; }
.ft-clipboard:before { content: "\E84B"; }
.ft-chrome:before { content: "\E84C"; }
.ft-clock:before { content: "\E84D"; }
.ft-cloud-lightning:before { content: "\E84E"; }
.ft-cloud-drizzle:before { content: "\E84F"; }
.ft-cloud-rain:before { content: "\E850"; }
.ft-cloud-off:before { content: "\E851"; }
.ft-codepen:before { content: "\E852"; }
.ft-cloud-snow:before { content: "\E853"; }
.ft-compass:before { content: "\E854"; }
.ft-copy:before { content: "\E855"; }
.ft-corner-down-right:before { content: "\E856"; }
.ft-corner-down-left:before { content: "\E857"; }
.ft-corner-left-down:before { content: "\E858"; }
.ft-corner-left-up:before { content: "\E859"; }
.ft-corner-up-left:before { content: "\E85A"; }
.ft-corner-up-right:before { content: "\E85B"; }
.ft-corner-right-down:before { content: "\E85C"; }
.ft-corner-right-up:before { content: "\E85D"; }
.ft-cpu:before { content: "\E85E"; }
.ft-credit-card:before { content: "\E85F"; }
.ft-crosshair:before { content: "\E860"; }
.ft-disc:before { content: "\E861"; }
.ft-delete:before { content: "\E862"; }
.ft-download-cloud:before { content: "\E863"; }
.ft-download:before { content: "\E864"; }
.ft-droplet:before { content: "\E865"; }
.ft-edit-:before { content: "\E866"; }
.ft-edit:before { content: "\E867"; }
.ft-edit-1:before { content: "\E868"; }
.ft-external-link:before { content: "\E869"; }
.ft-eye:before { content: "\E86A"; }
.ft-feather:before { content: "\E86B"; }
.ft-facebook:before { content: "\E86C"; }
.ft-file-minus:before { content: "\E86D"; }
.ft-eye-off:before { content: "\E86E"; }
.ft-fast-forward:before { content: "\E86F"; }
.ft-file-text:before { content: "\E870"; }
.ft-film:before { content: "\E871"; }
.ft-file:before { content: "\E872"; }
.ft-file-plus:before { content: "\E873"; }
.ft-folder:before { content: "\E874"; }
.ft-filter:before { content: "\E875"; }
.ft-flag:before { content: "\E876"; }
.ft-globe:before { content: "\E877"; }
.ft-grid:before { content: "\E878"; }
.ft-heart:before { content: "\E879"; }
.ft-home:before { content: "\E87A"; }
.ft-github:before { content: "\E87B"; }
.ft-image:before { content: "\E87C"; }
.ft-inbox:before { content: "\E87D"; }
.ft-layers:before { content: "\E87E"; }
.ft-info:before { content: "\E87F"; }
.ft-instagram:before { content: "\E880"; }
.ft-layout:before { content: "\E881"; }
.ft-link-:before { content: "\E882"; }
.ft-life-buoy:before { content: "\E883"; }
.ft-link:before { content: "\E884"; }
.ft-log-in:before { content: "\E885"; }
.ft-list:before { content: "\E886"; }
.ft-lock:before { content: "\E887"; }
.ft-log-out:before { content: "\E888"; }
.ft-loader:before { content: "\E889"; }
.ft-mail:before { content: "\E88A"; }
.ft-maximize-:before { content: "\E88B"; }
.ft-map:before { content: "\E88C"; }
.ft-minimize:before { content: "\E88D"; }
.ft-map-pin:before { content: "\E88E"; }
.ft-menu:before { content: "\E88F"; }
.ft-message-circle:before { content: "\E890"; }
.ft-message-square:before { content: "\E891"; }
.ft-minimize-:before { content: "\E892"; }
.ft-mic-off:before { content: "\E893"; }
.ft-minus-circle:before { content: "\E894"; }
.ft-mic:before { content: "\E895"; }
.ft-minus-square:before { content: "\E896"; }
.ft-minus:before { content: "\E897"; }
.ft-moon:before { content: "\E898"; }
.ft-monitor:before { content: "\E899"; }
.ft-more-vertical:before { content: "\E89A"; }
.ft-more-horizontal:before { content: "\E89B"; }
.ft-move:before { content: "\E89C"; }
.ft-music:before { content: "\E89D"; }
.ft-navigation-:before { content: "\E89E"; }
.ft-navigation:before { content: "\E89F"; }
.ft-octagon:before { content: "\E8A0"; }
.ft-package:before { content: "\E8A1"; }
.ft-pause-circle:before { content: "\E8A2"; }
.ft-pause:before { content: "\E8A3"; }
.ft-percent:before { content: "\E8A4"; }
.ft-phone-call:before { content: "\E8A5"; }
.ft-phone-forwarded:before { content: "\E8A6"; }
.ft-phone-missed:before { content: "\E8A7"; }
.ft-phone-off:before { content: "\E8A8"; }
.ft-phone-incoming:before { content: "\E8A9"; }
.ft-phone:before { content: "\E8AA"; }
.ft-phone-outgoing:before { content: "\E8AB"; }
.ft-pie-chart:before { content: "\E8AC"; }
.ft-play-circle:before { content: "\E8AD"; }
.ft-play:before { content: "\E8AE"; }
.ft-plus-square:before { content: "\E8AF"; }
.ft-plus-circle:before { content: "\E8B0"; }
.ft-plus:before { content: "\E8B1"; }
.ft-pocket:before { content: "\E8B2"; }
.ft-printer:before { content: "\E8B3"; }
.ft-power:before { content: "\E8B4"; }
.ft-radio:before { content: "\E8B5"; }
.ft-repeat:before { content: "\E8B6"; }
.ft-refresh-ccw:before { content: "\E8B7"; }
.ft-rewind:before { content: "\E8B8"; }
.ft-rotate-ccw:before { content: "\E8B9"; }
.ft-refresh-cw:before { content: "\E8BA"; }
.ft-rotate-cw:before { content: "\E8BB"; }
.ft-save:before { content: "\E8BC"; }
.ft-search:before { content: "\E8BD"; }
.ft-server:before { content: "\E8BE"; }
.ft-scissors:before { content: "\E8BF"; }
.ft-share-:before { content: "\E8C0"; }
.ft-share:before { content: "\E8C1"; }
.ft-shield:before { content: "\E8C2"; }
.ft-settings:before { content: "\E8C3"; }
.ft-skip-back:before { content: "\E8C4"; }
.ft-shuffle:before { content: "\E8C5"; }
.ft-sidebar:before { content: "\E8C6"; }
.ft-skip-forward:before { content: "\E8C7"; }
.ft-slack:before { content: "\E8C8"; }
.ft-slash:before { content: "\E8C9"; }
.ft-smartphone:before { content: "\E8CA"; }
.ft-square:before { content: "\E8CB"; }
.ft-speaker:before { content: "\E8CC"; }
.ft-star:before { content: "\E8CD"; }
.ft-stop-circle:before { content: "\E8CE"; }
.ft-sun:before { content: "\E8CF"; }
.ft-sunrise:before { content: "\E8D0"; }
.ft-tablet:before { content: "\E8D1"; }
.ft-tag:before { content: "\E8D2"; }
.ft-sunset:before { content: "\E8D3"; }
.ft-target:before { content: "\E8D4"; }
.ft-thermometer:before { content: "\E8D5"; }
.ft-thumbs-up:before { content: "\E8D6"; }
.ft-thumbs-down:before { content: "\E8D7"; }
.ft-toggle-left:before { content: "\E8D8"; }
.ft-toggle-right:before { content: "\E8D9"; }
.ft-trash-:before { content: "\E8DA"; }
.ft-trash:before { content: "\E8DB"; }
.ft-trending-up:before { content: "\E8DC"; }
.ft-trending-down:before { content: "\E8DD"; }
.ft-triangle:before { content: "\E8DE"; }
.ft-type:before { content: "\E8DF"; }
.ft-twitter:before { content: "\E8E0"; }
.ft-upload:before { content: "\E8E1"; }
.ft-umbrella:before { content: "\E8E2"; }
.ft-upload-cloud:before { content: "\E8E3"; }
.ft-unlock:before { content: "\E8E4"; }
.ft-user-check:before { content: "\E8E5"; }
.ft-user-minus:before { content: "\E8E6"; }
.ft-user-plus:before { content: "\E8E7"; }
.ft-user-x:before { content: "\E8E8"; }
.ft-user:before { content: "\E8E9"; }
.ft-users:before { content: "\E8EA"; }
.ft-video-off:before { content: "\E8EB"; }
.ft-video:before { content: "\E8EC"; }
.ft-voicemail:before { content: "\E8ED"; }
.ft-volume-x:before { content: "\E8EE"; }
.ft-volume-:before { content: "\E8EF"; }
.ft-volume-1:before { content: "\E8F0"; }
.ft-volume:before { content: "\E8F1"; }
.ft-watch:before { content: "\E8F2"; }
.ft-wifi:before { content: "\E8F3"; }
.ft-x-square:before { content: "\E8F4"; }
.ft-wind:before { content: "\E8F5"; }
.ft-x:before { content: "\E8F6"; }
.ft-x-circle:before { content: "\E8F7"; }
.ft-zap:before { content: "\E8F8"; }
.ft-zoom-in:before { content: "\E8F9"; }
.ft-zoom-out:before { content: "\E8FA"; }
.ft-command:before { content: "\E8FB"; }
.ft-cloud:before { content: "\E8FC"; }
.ft-hash:before { content: "\E8FD"; }
.ft-headphones:before { content: "\E8FE"; }
.ft-underline:before { content: "\E8FF"; }
.ft-italic:before { content: "\E900"; }
.ft-bold:before { content: "\E901"; }
.ft-crop:before { content: "\E902"; }
.ft-help-circle:before { content: "\E903"; }
.ft-paperclip:before { content: "\E904"; }
.ft-shopping-cart:before { content: "\E905"; }
.ft-tv:before { content: "\E906"; }
.ft-wifi-off:before { content: "\E907"; }
.ft-maximize:before { content: "\E908"; }
.ft-gitlab:before { content: "\E909"; }
.ft-sliders:before { content: "\E90A"; }
.ft-star-on:before { content: "\E90B"; }
.ft-heart-on:before { content: "\E90C"; }
.ft-archive:before { content: "\E90D"; }
.ft-arrow-down-circle:before { content: "\E90E"; }
.ft-arrow-up-circle:before { content: "\E90F"; }
.ft-arrow-left-circle:before { content: "\E910"; }
.ft-arrow-right-circle:before { content: "\E911"; }
.ft-bar-chart-line-:before { content: "\E912"; }
.ft-bar-chart-line:before { content: "\E913"; }
.ft-book-open:before { content: "\E914"; }
.ft-code:before { content: "\E915"; }
.ft-database:before { content: "\E916"; }
.ft-dollar-sign:before { content: "\E917"; }
.ft-folder-plus:before { content: "\E918"; }
.ft-gift:before { content: "\E919"; }
.ft-folder-minus:before { content: "\E91A"; }
.ft-git-commit:before { content: "\E91B"; }
.ft-git-branch:before { content: "\E91C"; }
.ft-git-pull-request:before { content: "\E91D"; }
.ft-git-merge:before { content: "\E91E"; }
.ft-linkedin:before { content: "\E91F"; }
.ft-hard-drive:before { content: "\E920"; }
.ft-more-vertical-:before { content: "\E921"; }
.ft-more-horizontal-:before { content: "\E922"; }
.ft-rss:before { content: "\E923"; }
.ft-send:before { content: "\E924"; }
.ft-shield-off:before { content: "\E925"; }
.ft-shopping-bag:before { content: "\E926"; }
.ft-terminal:before { content: "\E927"; }
.ft-truck:before { content: "\E928"; }
.ft-zap-off:before { content: "\E929"; }
