<!-- Aside Header starts -->
<div class="aside-header">
    <div class="aside-logo">
        <a [routerLink]="['/']">
            <img src="assets/img/logo_small.png" />
        </a>
    </div>
    <div class="aside-header_tools">
        <a class="aside-header_toggle nav-toggle d-none d-sm-none d-md-none d-lg-block" id="asideToggle" href="javascript:;">
            <i
                (click)="onToggleAside(!isNavExpand)"
                [ngClass]="[isNavExpand ? 'ft-toggle-right' : 'ft-toggle-left']"
                class="toggle-icon" data-toggle="expanded"></i>
        </a>
        <a class="aside-header_close nav-close d-block d-md-block d-lg-none d-xl-none" id="asideClose" href="javascript:;">
            <i
                (click)="onHideAside()"
                class="ft-x"></i>
        </a>
    </div>
</div>
<!-- Aside Header Ends -->

<!-- Aside Content starts -->
<div class="aside-content" [perfectScrollbar]>
    <div class="aside-menu">
        <ul class="menu_nav">
            <app-navigation-item
				*ngFor="let menuItem of menuItems;"
				[menuItem]="menuItem"></app-navigation-item>
        </ul>
    </div>
</div>
<!-- Aside Content Ends -->

<!-- Aside Content starts -->
<div class="aside-footer">

</div>
<!-- Aside Content Ends -->
