// stylelint-disable declaration-no-important

@if $enable-gradients {
  @each $color, $value in $theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}

@each $color, $value in if($enable-colors, map-merge($theme-colors, $colors), $theme-colors) {
    @include bg-variant(".bg-#{$color}", $value);
}

@if $enable-palettes {
    @each $color_name, $color in if($enable-colors, map-merge($theme-colors-palettes, $colors-palettes), $theme-colors-palettes) {
        @each $color_type, $color_value in $color {
            @include bg-variant(".bg-#{$color_name}.bg-#{$color_type}", $color_value);
        }
    }
}

.bg-white {
  background-color: $white !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-cover{
    background-size:cover !important;
}
.bg-repeat {
    background-repeat:repeat !important;
}
.bg-no-repeat {
    background-repeat:no-repeat !important;
}
