<div class="row">
	<div class="col-12">
		<div class="content-header">Accordion</div>
		<p class="content-sub-header"></p>
	</div>
</div>
<div class="row">
	<div class="col-6 col-md-12">
		<h4 class="mt-3">Collapsible Accordion</h4>
		<accordion [closeOthers]="false" #acc1>
			<accordion-panel [heading]="'Panel 1'">
                <div class="card-body">
                    <div class="card-section">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
			</accordion-panel>
			<accordion-panel id="accordionExample1">
                <ng-template accordionPanelHeading>
                    <div class="card-header">
                        <div class="card-title">
                            <span>Panel 2</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template accordionPanelContent>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                        heard of them accusamus labore sustainable VHS.</p>
                </ng-template>
			</accordion-panel>
			<accordion-panel id="a13" [disabled]="true">
                <ng-template accordionPanelHeading>
                    <div class="card-header">
                        <div class="card-title">
                            <span>Panel 3</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template accordionPanelContent>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                        heard of them accusamus labore sustainable VHS.</p>
                </ng-template>
			</accordion-panel>
		</accordion>
		<p class="mt-2">
			<button class="btn btn-secondary" (click)="acc1.toggle('accordion-panel-0')">Toggle first</button>
			<button class="btn btn-secondary" (click)="acc1.toggle('accordionExample1')">Toggle second</button>
			<button class="btn btn-secondary" (click)="acc1.toggleAll(true)">Open all</button>
			<button class="btn btn-secondary" (click)="acc1.toggleAll(false)">Close all</button>
			<button class="btn btn-secondary" (click)="acc1.toggleAll()">Toggle all</button>
		</p>
	</div>
	<div class="col-6 col-md-12">
		<h4 class="mt-3">One open panel at a time</h4>
		<accordion #acc2>
			<accordion-panel [heading]="'Title'">
                <ng-template accordionPanelContent>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                        heard of them accusamus labore sustainable VHS.</p>
                </ng-template>
			</accordion-panel>
			<accordion-panel id="accordionExample2">
                <ng-template accordionPanelHeading>
                    <div class="card-header">
                        <div class="card-title">
                            <span>Title</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template accordionPanelContent>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                        heard of them accusamus labore sustainable VHS.</p>
                </ng-template>
			</accordion-panel>
			<accordion-panel [disabled]="true">
                <ng-template accordionPanelHeading>
                    <div class="card-header">
                        <div class="card-title">
                            <span>Title</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template accordionPanelContent>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                        heard of them accusamus labore sustainable VHS.</p>
                </ng-template>
			</accordion-panel>
		</accordion>
		<p class="mt-2">
			<button class="btn btn-secondary" (click)="acc2.toggle('accordion-panel-0')">Toggle first</button>
			<button class="btn btn-secondary" (click)="acc2.toggle('accordionExample2')">Toggle second</button>
		</p>
	</div>
</div>
