<div class="row">
	<div class="col-6 col-xl-12">
        <div class="card">
            <div class="card-header">
                <div class="card-label">
                    <h3 class="card-title">Collapsible Accordion</h3>
                </div>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-primary" collapseTrigger="accordionExample1">< ></button>
                </div>
            </div>
            <div class="card-body">
                <div [collapse]="'accordionExample1'">
                    <mat-tab-group>
                        <mat-tab label="HTML">
                            <ng-template matTabContent>
                                <ngx-prism [language]="'HTML'" [hooks] = "hooks" code='
    <accordion [closeOthers]="false" #acc1>
        <accordion-panel [heading]="Panel 1" [type]="light">
            <div class="card-body">
                <div class="card-section">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                </div>
            </div>
        </accordion-panel>
        <accordion-panel id="accordionExample1">
            <ng-template accordionPanelHeading>
                <div class="card-header bg-light">
                    <div class="card-title">
                        <span>Panel 2</span>
                    </div>
                </div>
            </ng-template>
            <ng-template accordionPanelContent>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
            </ng-template>
        </accordion-panel>
        <accordion-panel id="a13" [disabled]="true">
            <ng-template accordionPanelHeading>
                <div class="card-header bg-light">
                    <div class="card-title">
                        <span>Panel 3</span>
                    </div>
                </div>
            </ng-template>
            <ng-template accordionPanelContent>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
            </ng-template>
        </accordion-panel>
    </accordion>
    '>
                                </ngx-prism>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="TS">
                            <ng-template matTabContent>
                                <ngx-prism [language]="'ts'" code="
        /** No TS for this example */




    ">
                                </ngx-prism>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="CSS">
                            <ng-template matTabContent>
                                <ngx-prism [language]="'css'" code="
        /** No CSS for this example */




    ">
                                </ngx-prism>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="card-section">
                    <accordion [closeOthers]="false" #acc1>
                        <accordion-panel [heading]="'Panel 1'" [type]="'light'">
                            <div class="card-body">
                                <div class="card-section">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </div>
                            </div>
                        </accordion-panel>
                        <accordion-panel id="accordionExample1">
                            <ng-template accordionPanelHeading>
                                <div class="card-header bg-light">
                                    <div class="card-title">
                                        <span>Panel 2</span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template accordionPanelContent>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                            </ng-template>
                        </accordion-panel>
                        <accordion-panel id="a13" [disabled]="true">
                            <ng-template accordionPanelHeading>
                                <div class="card-header bg-light">
                                    <div class="card-title">
                                        <span>Panel 3</span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template accordionPanelContent>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                            </ng-template>
                        </accordion-panel>
                    </accordion>
                    <div class="btn-list mt-2">
                        <button class="btn btn-primary" (click)="acc1.toggle('accordion-panel-0')">Toggle first</button>
                        <button class="btn btn-primary" (click)="acc1.toggle('accordionExample1')">Toggle second</button>
                        <button class="btn btn-primary" (click)="acc1.toggleAll(true)">Open all</button>
                        <button class="btn btn-primary" (click)="acc1.toggleAll(false)">Close all</button>
                        <button class="btn btn-primary" (click)="acc1.toggleAll()">Toggle all</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">One open panel at a time</h4>
            </div>
            <div class="card-body">
                <div class="card-section">
                    <accordion #acc2>
                        <accordion-panel [heading]="'Title'" [type]="'light'">
                            <ng-template accordionPanelContent>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                            </ng-template>
                        </accordion-panel>
                        <accordion-panel id="accordionExample2">
                            <ng-template accordionPanelHeading>
                                <div class="card-header bg-light">
                                    <div class="card-title">
                                        <span>Title</span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template accordionPanelContent>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                            </ng-template>
                        </accordion-panel>
                        <accordion-panel [disabled]="true">
                            <ng-template accordionPanelHeading>
                                <div class="card-header bg-light">
                                    <div class="card-title">
                                        <span>Title</span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template accordionPanelContent>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                            </ng-template>
                        </accordion-panel>
                    </accordion>
                    <div class="btn-list mt-2">
                        <button class="btn btn-primary" (click)="acc2.toggle('accordion-panel-0')">Toggle first</button>
                        <button class="btn btn-primary" (click)="acc2.toggle('accordionExample2')">Toggle second</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
