<section id="accordions">
    <div class="row">
        <div class="col-6 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-label">
                        <h3 class="card-title">Default Accordion</h3>
                    </div>
                    <div class="card-toolbar">
                        <button type="button" class="btn btn-primary" collapseTrigger="accordionExample1">< ></button>
                    </div>
                </div>
                <div class="card-body">
                    <div [collapse]="'accordionExample1'">
                        <mat-tab-group>
                            <mat-tab label="HTML">
                                <ng-template matTabContent>
                                    <ngx-prism [language]="'HTML'" [hooks] = "hooks" code='
        <accordion>
            <accordion-panel [title]="Panel 1">
                <ng-template accordionPanelContent>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                </ng-template>
            </accordion-panel>
            <accordion-panel [title]="Panel 2">
                <ng-template accordionPanelContent>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                </ng-template>
            </accordion-panel>
            <accordion-panel [title]="Panel 3">
                <ng-template accordionPanelContent>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                </ng-template>
            </accordion-panel>
        </accordion>
        '>
                                    </ngx-prism>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="TS">
                                <ng-template matTabContent>
                                    <ngx-prism [language]="'ts'" code="
            /** No TS for this example */




        ">
                                    </ngx-prism>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="CSS">
                                <ng-template matTabContent>
                                    <ngx-prism [language]="'css'" code="
            /** No CSS for this example */




        ">
                                    </ngx-prism>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <div class="card-section">
                        <accordion>
                            <accordion-panel [title]="'Panel 1'">
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel [title]="'Panel 2'">
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel [title]="'Panel 3'">
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                        </accordion>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Light Accordion</h4>
                </div>
                <div class="card-body">
                    <div class="card-section">
                        <accordion [type]="'light'">
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                        </accordion>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Outline Accordion</h4>
                </div>
                <div class="card-body">
                    <div class="card-section">
                        <accordion [type]="'outline'">
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Accordion with Icons</h3>
                </div>
                <div class="card-body">
                    <div class="card-section">
                        <accordion>
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <i class="ft-user"></i>
                                        <span>Panel 1</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <i class="ft-umbrella"></i>
                                        <span>Panel 2</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <i class="ft-video"></i>
                                        <span>Panel 3</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                        </accordion>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Light Accordion with Icons</h4>
                </div>
                <div class="card-body">
                    <div class="card-section">
                        <accordion [type]="'light'">
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <i class="ft-book-open"></i>
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <i class="ft-gitlab"></i>
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <i class="ft-gift"></i>
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                        </accordion>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Outline Accordion with Icons</h4>
                </div>
                <div class="card-body">
                    <div class="card-section">
                        <accordion [type]="'outline'">
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <i class="la la-bank"></i>
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <i class="la la-bar-chart"></i>
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                            <accordion-panel>
                                <ng-template accordionPanelTitle>
                                    <div class="accordion-panel_title">
                                        <i class="la la-beer"></i>
                                        <span>Title</span>
                                    </div>
                                </ng-template>
                                <ng-template accordionPanelContent>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                </ng-template>
                            </accordion-panel>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<div class="row">-->
	<!--<div class="col-6 col-xl-12">-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<div class="card-label">-->
                    <!--<h3 class="card-title">Collapsible Accordion</h3>-->
                <!--</div>-->
                <!--<div class="card-toolbar">-->
                    <!--<button type="button" class="btn btn-primary" collapseTrigger="accordionExample1">< ></button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card-body">-->
                <!--<div [collapse]="'accordionExample1'">-->
                    <!--<mat-tab-group>-->
                        <!--<mat-tab label="HTML">-->
                            <!--<ng-template matTabContent>-->
                                <!--<ngx-prism [language]="'HTML'" [hooks] = "hooks" code='-->
    <!--<accordion [closeOthers]="false" #acc1>-->
        <!--<accordion-panel [title]="Panel 1">-->
            <!--<ng-template accordionPanelContent>-->
                <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>-->
            <!--</ng-template>-->
        <!--</accordion-panel>-->
        <!--<accordion-panel id="accordionExample1"  [title]="Panel 2">-->
            <!--<ng-template accordionPanelContent>-->
                <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>-->
            <!--</ng-template>-->
        <!--</accordion-panel>-->
        <!--<accordion-panel id="a13" [title]="Panel 3">-->
            <!--<ng-template accordionPanelContent>-->
                <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>-->
            <!--</ng-template>-->
        <!--</accordion-panel>-->
    <!--</accordion>-->
    <!--<div class="btn-list mt-2">-->
        <!--<button class="btn btn-primary" (click)="acc1.toggle(accordion-panel-0)">Toggle first</button>-->
        <!--<button class="btn btn-primary" (click)="acc1.toggle(accordionExample1)">Toggle second</button>-->
        <!--<button class="btn btn-primary" (click)="acc1.toggleAll(true)">Open all</button>-->
        <!--<button class="btn btn-primary" (click)="acc1.toggleAll(false)">Close all</button>-->
        <!--<button class="btn btn-primary" (click)="acc1.toggleAll()">Toggle all</button>-->
    <!--</div>-->
    <!--'>-->
                                <!--</ngx-prism>-->
                            <!--</ng-template>-->
                        <!--</mat-tab>-->
                        <!--<mat-tab label="TS">-->
                            <!--<ng-template matTabContent>-->
                                <!--<ngx-prism [language]="'ts'" code="-->
        <!--/** No TS for this example */-->




    <!--">-->
                                <!--</ngx-prism>-->
                            <!--</ng-template>-->
                        <!--</mat-tab>-->
                        <!--<mat-tab label="CSS">-->
                            <!--<ng-template matTabContent>-->
                                <!--<ngx-prism [language]="'css'" code="-->
        <!--/** No CSS for this example */-->




    <!--">-->
                                <!--</ngx-prism>-->
                            <!--</ng-template>-->
                        <!--</mat-tab>-->
                    <!--</mat-tab-group>-->
                <!--</div>-->
                <!--<div class="card-section">-->
                    <!--<accordion [closeOthers]="false" #acc1>-->
                        <!--<accordion-panel [title]="'Panel 1'" [type]="'light'">-->
                            <!--<ng-template accordionPanelContent>-->
                                <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>-->
                            <!--</ng-template>-->
                        <!--</accordion-panel>-->
                        <!--<accordion-panel id="accordionExample1"  [title]="'Panel 2'" [type]="'light'">-->
                            <!--<ng-template accordionPanelContent>-->
                                <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>-->
                            <!--</ng-template>-->
                        <!--</accordion-panel>-->
                        <!--<accordion-panel id="a13" [title]="'Panel 3'" [type]="'light'">-->
                            <!--<ng-template accordionPanelContent>-->
                                <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>-->
                            <!--</ng-template>-->
                        <!--</accordion-panel>-->
                    <!--</accordion>-->
                    <!--<div class="btn-list mt-2">-->
                        <!--<button class="btn btn-primary" (click)="acc1.toggle('accordion-panel-0')">Toggle first</button>-->
                        <!--<button class="btn btn-primary" (click)="acc1.toggle('accordionExample1')">Toggle second</button>-->
                        <!--<button class="btn btn-primary" (click)="acc1.toggleAll(true)">Open all</button>-->
                        <!--<button class="btn btn-primary" (click)="acc1.toggleAll(false)">Close all</button>-->
                        <!--<button class="btn btn-primary" (click)="acc1.toggleAll()">Toggle all</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-6 col-xl-12">-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<h4 class="card-title">One open panel at a time</h4>-->
            <!--</div>-->
            <!--<div class="card-body">-->
                <!--<div class="card-section">-->
                    <!--<accordion #acc2>-->
                        <!--<accordion-panel>-->
                            <!--<ng-template accordionPanelTitle>-->
                                <!--<div class="accordion-panel_header">-->
                                    <!--<div class="accordion-panel_title">-->
                                        <!--<span>Title</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</ng-template>-->
                            <!--<ng-template accordionPanelContent>-->
                                <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>-->
                            <!--</ng-template>-->
                        <!--</accordion-panel>-->
                        <!--<accordion-panel id="accordionExample2">-->
                            <!--<ng-template accordionPanelTitle>-->
                                <!--<div class="accordion-panel_header">-->
                                    <!--<div class="accordion-panel_title">-->
                                        <!--<span>Title</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</ng-template>-->
                            <!--<ng-template accordionPanelContent>-->
                                <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>-->
                            <!--</ng-template>-->
                        <!--</accordion-panel>-->
                        <!--<accordion-panel>-->
                            <!--<ng-template accordionPanelTitle>-->
                                <!--<div class="accordion-panel_header">-->
                                    <!--<div class="accordion-panel_title">-->
                                        <!--<span>Title</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</ng-template>-->
                            <!--<ng-template accordionPanelContent>-->
                                <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>-->
                            <!--</ng-template>-->
                        <!--</accordion-panel>-->
                    <!--</accordion>-->
                    <!--<div class="btn-list mt-2">-->
                        <!--<button class="btn btn-primary" (click)="acc2.toggle('accordion-panel-0')">Toggle first</button>-->
                        <!--<button class="btn btn-primary" (click)="acc2.toggle('accordionExample2')">Toggle second</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
