<div
	class="wrapper aside-fixed header-fixed"
	[ngClass]="{'nav-collapsed':!isNavExpand, 'menu-collapsed':!isMenuExpand}"
>
    <div
		class="aside"
		[ngClass]="{'hide-aside': isHideAside}"
		data-background-color="blue-dark">
        <app-aside (click)="$event.stopPropagation();">
		</app-aside>
        <div class="aside-background" style="background-image: url('//assets/img/sidebar-bg/01.jpg');"></div>
    </div>
    <div class="main-panel">
        <app-header></app-header>
        <app-subheader></app-subheader>
        <div class="main-content">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
	<ngc-panels
		[overlay]="false"
		[leftPanelExpand]="_asideService.isNavExpandChange"
		[leftPanelHide]="_asideService.isHideAsideChange"
	></ngc-panels>
	<ngc-notifications></ngc-notifications>
	<!--<ngc-modals></ngc-modals>-->

	<ngc-panel id="panel-test-4" [dir]="'right'">
		<div class="panel">
			<div class="panel-header">
				<div class="panel-header_inner">
					<h4 class="panel-header_title heading -h4">Test panel 4</h4>
				</div>
				<div class="panel-header_buttons">
					<a [ngcPanelClose]="'panel-test-4'">
						<i class="ft-x font-medium-3"></i>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<div class="panel-content">

				</div>
				<div class="panel-bottom">
					<div class="row no-gutters -end">
						<div class="btn-list">
							<a class="btn btn-raised btn-danger" href="javascript:void(0)" [ngcPanelClose]="'panel-test-4'">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ngc-panel>
</div>
