/*--------------------------------------/
 Path
--------------------------------------*/
$image-path: 'assets/img';
$fonts-path: 'assets/fonts';

/*--------------------------------------/
 Main
--------------------------------------*/
$content-container-max-width: 1200px !default;
$base-gutter-width: 50px !default;
$base-gutters-widths: gutters-map($base-gutter-width) !default;

/*--------------------------------------/
 Options
--------------------------------------*/
// Quickly modify global styling by enabling or disabling optional features.

$enable-colors: true !default;
$enable-palettes: true !default;
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;
$enable-grid-classes: true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-print-styles: true !default;
$enable-responsive-font-sizes: false !default;
$enable-validation-icons: true !default;
$enable-deprecation-messages: true !default;


@import "variables/color-system";
@import "variables/spacing";
@import "variables/components";
@import "variables/typo";
@import "variables/grid";
@import "variables/tables";
@import "variables/buttons";
@import "variables/forms";
@import "variables/z-index";
@import "variables/navs";
@import "variables/navbar";
@import "variables/dropdown";
@import "variables/pagination";
@import "variables/cards";
@import "variables/tooltips";
@import "variables/popovers";
@import "variables/badges";
@import "variables/modals";
@import "variables/alerts";
@import "variables/progress-bars";
@import "variables/list-group";
@import "variables/images";
@import "variables/breadcrumbs";
@import "variables/spinners";
@import "variables/close";
@import "variables/utilities";




