/*--------------------------------------/
 Colors
--------------------------------------*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// Theme Colors
$theme-colors: (
    primary: #009DA0,
    success: #0CC27E,
    info: #1CBCD8,
    warning: #FF8D60,
    danger: #FF586B,
    secondary: #868e96,
    light: #f8f9fa,
    dark: #343a40,
);

// Spacing

$spacer: 1.5rem;

$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .50),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
) !default;


/*--------------------------------------/
 Body
--------------------------------------*/
$body-bg: #f5f7fa;

/*--------------------------------------/
 Fonts
--------------------------------------*/
$OpenSans: 'Open Sans', sans-serif;
$MyriadPro: 'Myriad Pro', sans-serif;
$Rubik: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$Montserrat: "Montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-sans-serif: $Montserrat;
$font-family-content: $MyriadPro;
$font-family-base: $font-family-sans-serif;

$text-font: $font-family-content;
$heading-font: $font-family-sans-serif;

// Font sizes
$base-font-size: 1rem;
$small-font-size: 14px;
$large-font-size: 18px;
$button-font-size: $base-font-size;

$h1-font-size: $base-font-size * 2.5 !default;
$h2-font-size: $base-font-size * 2 !default;
$h3-font-size: $base-font-size * 1.75 !default;
$h4-font-size: $base-font-size * 1.5 !default;
$h5-font-size: $base-font-size * 1.25 !default;
$h6-font-size: $base-font-size !default;

/*--------------------------------------/
 Media
--------------------------------------*/
$media-grid: (
    wide: 0px,
    xl: 1280px,
    lg: 1024px,
    md: 860px,
    sm: 640px,
    xs: 480px
) !default;

$media-breakpoints: 480, 640, 860, 1024, 1280;

/*--------------------------------------/
 Path
--------------------------------------*/
$image-path: 'assets/img';
$fonts-path: 'assets/fonts';

