.fonticon-container {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    > .fonticon-wrap {
        width: 60px;
        height: 60px;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        flex: 0 0 auto;

        i {
            font-size: 2.28rem;

            &.fa {
                font-size: 2.28rem !important;
            }

            transition: all .2s ease-in-out;
        }

        &.youtube {
            width: 100px;
        }
    }

    &:hover {
        i {
            color: theme-color("primary");
            font-size: 2.4rem;
            transform: scale(1.3);
        }
    }

    .fonticon-classname,
    .fonticon-unit {
        display: block;
        font-size: 1rem;
        line-height: 1.2;
    }

    .fonticon-unit {
        font-size: 0.7rem;
        font-style: italic;
    }
}

.notification-dropdown {
    .noti-list {
        position: relative;
        height: 290px;
    }

    &.dropdown-menu {
        padding: 0;
    }

    width: 400px;

    .noti-text {
        color: $gray-600;
        font-size: 90%;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        i {
            color: theme-color("primary") !important;
        }
    }

    .dropdown-item.active, .dropdown-item:active {
        i, .noti-title, .noti-text {
            color: white !important;
        }
    }
}
