<section id="alert">
    <div class="row">
        <div class="col-6 col-xl-12">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Basic Examples</h3>
                </div>
                <div class="card-body">
                    <div class="card-section">
                        <h3 class="card-section_title">Examples</h3>
                        <p>Alerts are available for any length of text, as well as an optional
                            dismiss button.
                        </p>
                        <div class="card-section_content -border">
                            <ng-container *ngFor="let alert of alerts">
                                <ngc-alert [type]="alert.type" >{{ alert.message }}</ngc-alert>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">With Icons</h3>
                </div>
                <div class="card-body">
                    <div class="card-section">
                        <p>You can use icons with alert text.</p>
                        <div class="card-section_content -border">
                            <ng-container *ngFor="let alert of alertsWithIcons">
                                <ngc-alert [type]="alert.type" [icon]="alert.icon" >{{ alert.message }}</ngc-alert>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Additional content</h3>
                </div>
                <div class="card-body">
                    <div class="card-section">
                        <p>Alerts can also contain additional HTML elements like headings,
                            paragraphs and dividers.
                        </p>
                        <div class="card-section_content -border">
                            <ngc-alert [type]="'success'">
                                <h4 class="alert-heading">Well done!</h4>
                                <p>Aww yeah, you successfully read this important alert message. This example text
                                    is going to run a bit longer so that you can see how spacing within an alert
                                    works with this kind of content.</p>
                                <hr>
                                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things
                                    nice and tidy.</p>
                            </ngc-alert>

                            <ngc-alert [type]="'danger'">
                                <h4 class="alert-heading">Got Issues!</h4>
                                <p>Aww yeah, you successfully read this important alert message. This example text
                                    is going to run a bit longer so that you can see how spacing within an alert
                                    works with this kind of content.</p>
                                <hr>
                                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things
                                    nice and tidy.</p>
                            </ngc-alert>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 col-xl-12">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">With Icons & Dismissing</h3>
                </div>
                <div class="card-body">
                    <div class="card-section">
                        <p>You can use icons and alert text with dismissing button.</p>
                        <div class="card-section_content -border">
                            <ng-container *ngFor="let alert of alertsWithIconsAndDissmiss">
                                <ngc-alert [type]="alert.type"
                                           [icon]="alert.icon"
                                           [dismissible]="true"
                                           (close)="close(alertsWithIconsAndDissmiss, alert)">{{ alert.message }}</ngc-alert>
                            </ng-container>
                            <button type="button" class="btn btn-primary" (click)="alertsWithIconsAndDissmiss = reset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Outline Style</h3>
                </div>
                <div class="card-body">
                    <div class="card-section">
                        <p>You can use outline style as well.</p>
                        <div class="card-section_content -border">
                            <ng-container *ngFor="let alert of alertsOutlineWithIconsAndDissmiss">
                                <ngc-alert
                                    [type]="'outline-' + alert.type"
                                    [icon]="alert.icon"
                                    [dismissible]="true"
                                    (close)="close(alertsOutlineWithIconsAndDissmiss, alert)">{{ alert.message }}</ngc-alert>
                            </ng-container>
                            <button type="button" class="btn btn-primary" (click)="alertsOutlineWithIconsAndDissmiss = reset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
