// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: $body-color;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: $btn-border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
    @include transition($btn-transition);

    @include hover {
        color: $body-color;
        text-decoration: none;
    }

    &:active,
    &.active{
        background-image: initial;
    }

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        @include box-shadow($btn-active-box-shadow);

        &:focus {
            @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
        }
    }
}

.btn.btn-elevate {
    transition: all $btn-elevate-transition ease 0s;
}

.btn.btn-elevate-air {
    transition: all $btn-elevate-transition ease 0s;

    &:hover {
        transform: translate(0, -$btn-elevate-air-shift);
    }
}

.btn.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &.dropdown-toggle {
        &:after {
            display: none;
        }
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@if $gradient-colors {
    @each $gcolor_name, $gcolor in $gradient-colors {
        $start-color : map-get($gcolor, start-color);
        $end-color : map-get($gcolor, end-color);
        .btn.#{$gcolor_name}{
            &:active,
            &.active{
                @include gradient-directional($start-color, $end-color);
            }
        }
    }
}

@each $color, $value in if($enable-colors, map-merge($theme-colors, $colors), $theme-colors) {
    .btn-#{$color} {
        @include button-variant($value, $value);
    }
    // Hover buttons
    .btn-hover-#{$color} {
        @include button-hover-variant($value, $value);
    }
    // Outline buttons
    .btn-outline-#{$color} {
        @include button-outline-variant($value);
    }
    // Outline hover buttons
    .btn-outline-hover-#{$color} {
        @include button-outline-hover-variant($value);
    }
    // Elevated buttons
    .btn-#{$color}.btn-elevate {
        @include button-elevate-variant($value);
    }
}

@if $enable-palettes {
    @each $color_name, $color in if($enable-colors, map-merge($theme-colors-palettes, $colors-palettes), $theme-colors-palettes) {
        @each $color_type, $color_value in $color {
            @if type-of($color_value) == 'color' {
                .btn-#{$color_name}.btn-#{map-get($color-types, $color_type)}{
                    @include button-variant($color_value, $color_value);
                }
                // Hover buttons
                .btn-hover-#{$color_name}.btn-hover-#{map-get($color-types, $color_type)}{
                    @include button-hover-variant($color_value, $color_value);
                }
                // Outline buttons
                .btn-outline-#{$color_name}.btn-outline-#{map-get($color-types, $color_type)}{
                    @include button-outline-variant($color_value);
                }
                // Outline hover buttons
                .btn-outline-hover-#{$color_name}.btn-outline-hover-#{map-get($color-types, $color_type)} {
                    @include button-outline-hover-variant($color_value);
                }
                // Elevated buttons
                .btn-#{$color_name}.btn-elevate-#{map-get($color-types, $color_type)} {
                    @include button-elevate-variant($color_value);
                }
            }
        }
    }
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

//
//  Font settings
//

.btn-font-lg {
    @include button-font($font-size: $font-size-lg);
}

.btn-font-sm {
    @include button-font($font-size: $font-size-sm);
}

.btn-upper {
    @include button-transform($text-transform: uppercase);
}

.btn-lower {
    @include button-transform($text-transform: lowercase);
}

//
// Button icon only
//

.btn.btn-icon {
    @include button-icon-size($btn-only-icon-size, $btn-only-icon-font-size);

    &.btn-lg {
        @include button-icon-size($btn-only-icon-size-lg, $btn-only-icon-font-size-lg);
    }

    &.btn-sm {
        @include button-icon-size($btn-only-icon-size-sm, $btn-only-icon-font-size-sm);
    }
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// Custom round buttons
.btn-round{
    border-radius: 2rem;
}

// Custom square buttons
.btn-square {
    border-radius: 0;
}

//
// Btn list
//

.btn-list:not(.btn-group) {
    margin: 0 (-$btn-list-x) (-$btn-list-y);

    .btn {
        margin: 0 $btn-list-x $btn-list-y;
    }
}


//

.btn-halfway-fab {
    position: absolute;
    right: 24px;
    bottom: 0;
    transform: translate(0, 50%);
    margin: 0;
}
