// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: $nav-link-padding-y $nav-link-padding-x;

    @include hover-focus {
        text-decoration: none;
    }

    // Disabled state lightens text
    &.disabled {
        color: $nav-link-disabled-color;
        pointer-events: none;
        cursor: default;
    }
}

//
// Vertical navs
//
.nav-vertical {
    display: flex;
    flex-direction: column;
}

//
// Tabs
//

.nav-tabs {
    border: 0 solid $nav-tabs-border-color;
    border-bottom-width: $nav-tabs-border-width;

    .nav-item {
        margin-bottom: -$nav-tabs-border-width;
    }

    .nav-link {
        border: $nav-tabs-border-width solid transparent;
        transition: $nav-tabs-transition;
        @include border-top-radius($nav-tabs-border-radius);

        @include hover-focus {
            border-color: $nav-tabs-link-hover-border-color;
            border-bottom-color: $nav-tabs-border-color;
        }

        &.disabled {
            color: $nav-link-disabled-color;
            background-color: transparent;
            border-color: transparent;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: $nav-tabs-link-active-color;
        background-color: $nav-tabs-link-active-bg;
        border-color: $nav-tabs-link-active-border-color;
        border-bottom-color: $nav-tabs-link-active-bg;
    }

    .dropdown-menu {
        // Make dropdown border overlap tab border
        margin-top: -$nav-tabs-border-width;
        // Remove the top rounded corners here since there is a hard edge above the menu
        @include border-top-radius(0);
    }

    &.nav-vertical {
        border-bottom-width: 0;
        border-right-width: $nav-tabs-border-width;

        .nav-item {
            margin-bottom: 0;
            margin-right: -$nav-tabs-border-width;
        }

        .nav-link {
            @include border-top-radius(0);
            @include border-left-radius($nav-tabs-border-radius);

            @include hover-focus {
                border-bottom-color: $nav-tabs-link-hover-border-color;
                border-right-color: $nav-tabs-border-color;
            }
        }

        .nav-link.active,
        .nav-item.show .nav-link {
            border-bottom-color: $nav-tabs-link-active-border-color;
            border-right-color: $nav-tabs-link-active-bg;
        }

        .dropdown-menu {
            // Make dropdown border overlap tab border
            margin-left: -$nav-tabs-border-width;
            // Remove the top rounded corners here since there is a hard edge above the menu
            @include border-left-radius(0);
        }
    }
}


//
// Pills
//

.nav-pills {
    .nav-link {
        @include border-radius($nav-pills-border-radius);
    }

    .nav-link.active,
    .show > .nav-link {
        color: $nav-pills-link-active-color;
        background-color: $nav-pills-link-active-bg;
    }
}

//
// Line
//

.nav-lines {
    border-color: transparent !important;

    .nav-item {
        margin-right: $nav-lines-link-padding-x;
        margin-bottom: -1px;
    }

    .nav-link {
        border: 0 solid transparent;
        border-bottom-width: 1px;
        background: transparent;
        transition: 0.15s linear;
        padding: $nav-lines-link-padding-y 0;

        &:hover,
        &.active {
            background: transparent;
            color: $nav-lines-link-active-color;
            border-color: $nav-lines-border-color;
        }
    }

    &.nav-vertical {
        .nav-item {
            margin-right: -1px;
            margin-bottom: $nav-lines-link-padding-y;
        }

        .nav-link {
            padding: 0 $nav-lines-link-padding-x;
            border-bottom-width: 0;
            border-right-width: 1px;
        }
    }
}

//
// Justified variants
//

.nav-fill {
    .nav-item {
        flex: 1 1 auto;
        text-align: center;
    }
}

.nav-justified {
    .nav-item {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
    padding: $nav-tabs-content-padding;

    > .tab-pane {
        display: none;
    }

    > .active {
        display: block;
    }
}
