.notification-wrapper {
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
    z-index: 2;
}

.notification {
    position: relative;
    display: flex;
    max-width: $notification-max-width;
    overflow: hidden; // cheap rounded corners on nested items
    @include font-size($notification-font-size);
    color: $notification-color;
    background-color: $notification-background-color;
    background-clip: padding-box;
    border: $notification-border-width solid $notification-border-color;
    box-shadow: $notification-box-shadow;
    opacity: 0;
    @include border-radius($notification-border-radius);
    margin-bottom: $notification-spacer-y;

    &.showing {
        opacity: 1;
    }

    &.show {
        display: flex;
        opacity: 1;
    }

    &.hide {
        display: none;
    }
}

.notification-inner {
    width: 100%;
}

.notification-header {
    display: flex;
    align-items: center;
    padding: $notification-header-padding-y $notification-header-padding-x;
    color: $notification-header-color;
    background-color: $notification-header-background-color;
    background-clip: padding-box;
    border-bottom: $notification-border-width solid $notification-header-border-color;
}

.notification-body {
    padding: $notification-body-padding-y $notification-body-padding-x; // apply to both vertical and horizontal
    background-color: $notification-body-background-color;
}

.notification-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $notification-aside-width;
    background-color: $notification-aside-background-color;
    font-size:$notification-aside-font-size;
    color: $notification-aside-color;
}

.notification-title {
    font-size: $notification-title-font-size;
    font-weight: $notification-title-font-weight;
    margin-right: auto;
}

.notification-icon {
}

.notification-close {
    display: block;
    padding: $notification-close-padding;
    line-height: 1;
    font-size: $notification-close-size;
    border-radius: 50%;
    border: none;
    background: transparent;
    color: $notification-close-color;

    i {
        display: block;
    }
}

.notification-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: $notification-progress-height;
    background-color: $notification-progress-color;
    z-index: 1;
    width: 0;
}

// Alternative notifications
@each $color, $value in if($enable-colors, map-merge($theme-colors, $colors), $theme-colors) {
    .notification-#{$color} {
        @include notification-variant($value);
    }

}

@if $enable-palettes {
    @each $color_name, $color in if($enable-colors, map-merge($theme-colors-palettes, $colors-palettes), $theme-colors-palettes) {
        @each $color_type, $color_value in $color {
            @if type-of($color_value) == 'color' {
                .notification-#{$color_name}.notification-#{map-get($color-types, $color_type)}{
                    @include notification-variant($color_value);
                }
            }
        }
    }
}
